body{
    margin: 0;
    padding: 0;
    background-position: center;
    background-image: linear-gradient(whitesmoke,white);
    background-repeat: no-repeat;
}
h1, p{
    text-align: center;
}

.form{
    text-align: center;
    margin-left: 500px;
    margin-right: 500px;
    border-style: solid;
    padding-top: 10px;
    padding-bottom: 20px;
}

.BookSlot{
    text-align: center;
}

button{
    
    background-color: blue;
    color: whitesmoke;
    border-radius: 50px;
}
